export SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/storefinder
export SPRING_DATASOURCE_USERNAME=sfuser
export SPRING_DATASOURCE_PASSWORD=sfpassword
export JASYPT_ENCRYPTOR_PASSWORD=storefinder-jasypt-encrypt-passwd

# create database storefinder;
# create user sfuser with encrypted password 'sfpassword';
# grant all privileges on database storefinder to sfuser;
# GRANT USAGE ON SCHEMA public to sfuser;
# GRANT ALL PRIVILEGES ON SCHEMA public TO sfuser;