export SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/storefinder
export SPRING_DATASOURCE_USERNAME=postgres
export SPRING_DATASOURCE_PASSWORD=postgispassword
export JASYPT_ENCRYPTOR_PASSWORD=storefinder-jasypt-encrypt-passwd

