export SPRING_DATASOURCE_DATABASE=storeapi
export SPRING_DATASOURCE_URL=jdbc:postgresql://postgis:5432/${SPRING_DATASOURCE_DATABASE}
export SPRING_DATASOURCE_USERNAME=sauser
export SPRING_DATASOURCE_PASSWORD=sapassword
export JASYPT_ENCRYPTOR_PASSWORD=storeapi-jasypt-encrypt-passwd

# create database storeapi;
# create user sauser with encrypted password 'sapassword';
# grant all privileges on database storeapi to sauser;
# GRANT USAGE ON SCHEMA public to sauser;
# GRANT ALL PRIVILEGES ON SCHEMA public TO sauser;
# \c storeapi
# GRANT ALL PRIVILEGES ON SCHEMA public TO sauser;
# CREATE EXTENSION IF NOT EXISTS postgis CASCADE;

